{% extends 'layouts/adminLayout.html.twig' %}

{% block body %}
    <h2 class="titre">Nouvelle Question</h2>
    <div class="box">
        <div class="box_ajout">
            <form method="post" action="{{ path('admin_ajouter_questions')}}" >

            <label for="pet-select">Type de question:</label>

                <select name="Type" id="pet-select">
                    <option value="">--Type--</option>
                    {% for MT in em2 %}
                        <option onclick="Clk()" value={{MT.getLibelleType}}>{{MT.getLibelleType}}</option>
                    {% endfor %}
                    
                </select>
            <br>
            <br>
            <br>

                        <div  class="contenu"> 
                            <div id="ici">
                                <div id="thema1" style="display:false;" ><label>Veuillez saisir la reponse correct</label>
                                <input id="vrai" type="radio" name="VF"/><label for="vrai">vrai</label></div>
                                <input id="faux" type="radio" name="VF"/><label for="faux">faux</label></div>
                            </div> 
                        </div>
            <br>
            <br>
            <label for="pet-select">Choisir une matiére:</label>

                <select name="pets" id="pet-select">
                        <option value="">--Matiere--</option>
                        {% for MT in em %}
                            <option value={{MT.getLibelleMatiere}}>{{MT.getLibelleMatiere}}</option>
                        {% endfor %}
                </select>
            <br>
            <br>
            <br>

            <label for="pet-select">Choisir une thématique:</label>

                <select name="pets" id="pet-select">
                        <option value="">--Thématique--</option>
                        {% for MT in em1 %}
                            <option value={{MT.getLibelleThematique}}>{{MT.getLibelleThematique}}</option>
                        {% endfor %}
                </select>

            <br>
            <br>

                        <input type="submit" value="Ajouter"></input>
          </form>
        </div>
    </div>
    
{% endblock %}

