{% extends 'layouts/adminLayout.html.twig' %}

{% block body %}
    <div>
        <h2 class="titre">Thematiques et Matières</h2>
        
     

        <a href="{{ path('admin_ajouter_questions') }}" id="ajouter_question">+ Nouvelle question</a>
        <a href="{{ path('admin_ajouter_categorie') }}" id="ajouter_categorie">+ Nouvelle thématique/matière</a>

        <table class="tableau_de_resultats tableau_utilisateurs">
             <thead>
            <tr>
                <th>ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for A in thematique %}
                <td>{{ A.id }}</td>

                
               
                <td>
                <center>
                    <a href="{{ path('admin_ajouter_categorie',{'id':A.id}) }}"><i class="fa fa-edit" style="font-size:20px"></i></a>
                    <a href="{{ path('admin_thematique_Supprimer',{'id':A.id}) }}"><i class="fas fa-trash-alt" style="font-size:20px"></i></a>
                </center>
                </td>
            </tr>
              {% endfor %}
          
        </tbody>
        </table>
    </div>

    <script type="text/javascript">

    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}